<!--footer section-->
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row" style="text-align: center;">
                <div class="item ss">
                  <h4>Social</h4>
                  <div class="col item social">
                    <a href="https://www.facebook.com/CodeChef-Rtu-Chapter-103723514891683/?view_public_for=103723514891683"><i class="social-icon fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/company/codechef-rtu-chapter"><i class="social-icon fab fa-linkedin"></i></a>
                    <a href="https://instagram.com/codechef_rtu_chapter?igshid=28xd3nc12li5"><i class="social-icon fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCTVJbzDVxSKpkKbVPx_bFEg"><i class="social-icon fab fa-youtube"></i></a>
                    <a href="https://github.com/thertucoders"><i class="social-icon fab fa-github"></i></a>
                    <a href="https://discord.gg/bJ9C5T6rJC"><i class="social-icon fab fa-discord"></i></a>
                  </div>
                  <p class="copyright">© Copyright 2021 thertucoders</p>
                </div>        
              </div>           
        </div>
    </footer>
</div>


<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script type="text/javascript" src="js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script src="js/test.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
<script src="scripts.js"></script>
</body>
</html>