<%- include("partials/header"); -%>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
  <div class = "fullpost" style="margin-top: 58px;">  
    <h2 style="font-family:'Times New Roman', Times, serif;"><%=title%></h2>
    <p style="font-family:'Baloo Thambi 2', cursive';"><%=content%></p>
</div>
<%- include("partials/footer") %>