<%- include("partials/header") %>
<div class="" style="margin: 60px;">
    <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Competitive</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Web Development</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Data Science</button>
        </li>
      </ul>
      <!-- -------------------------------------------------------------- -->
      <div class="tab-content" id="pills-tabContent">

        <!-- Competitive -->

        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"  style="padding: 10px;">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link active" id="v-pills-one-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">OverView</button>
                  <button class="nav-link" id="v-pills-two-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Get Start</button>
                  <button class="nav-link" id="v-pills-three-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                  <button class="nav-link" id="v-pills-four-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Programming Languages</button>
                  <button class="nav-link" id="v-pills-five-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">text Books</button>
                  <button class="nav-link" id="v-pills-six-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Youtubers</button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-one-tab">
                    <p>Data science means different things for different people, but at its gist, data science is using data to answer questions. This definition is a moderately broad definition, and that’s because one must say data science is a moderately broad field!</p>
                  </div>
                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-two-tab">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nemo laborum molestiae, quidem possimus perferendis. Exercitationem hic molestiae corporis, tempora vitae dicta aperiam, a quisquam eius incidunt illo necessitatibus iste?
                  </div>
                  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-three-tab">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eaque, perspiciatis totam assumenda quia at eius, perferendis, voluptas consequuntur necessitatibus. Velit repudiandae architecto ex aperiam unde vero, blanditiis nihil temporibus quisquam ipsa et labore animi modi suscipit placeat ab, nostrum asperiores minima eos enim, doloremque voluptas. Voluptas, deleniti soluta illum natus molestias sint eius modi amet necessitatibus? Rem adipisci molestias fugiat tempora id maiores doloribus harum doloremque quisquam ducimus, consectetur accusantium incidunt, ex voluptas? Quos optio nihil obcaecati aliquid omnis vel fugiat quis enim. Suscipit vel tempora, facere eum dolore enim aut facilis corporis. Adipisci exercitationem minima accusamus veritatis.
                  </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-four-tab">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eaque, perspiciatis totam assumenda quia at eius, perferendis, voluptas consequuntur necessitatibus. Velit repudiandae architecto ex aperiam unde vero, blanditiis nihil temporibus quisquam ipsa et labore animi modi suscipit placeat ab, nostrum asperiores minima eos enim, doloremque voluptas. Voluptas, deleniti soluta illum natus molestias sint eius modi amet necessitatibus? Rem adipisci molestias fugiat tempora id maiores doloribus harum doloremque quisquam ducimus, consectetur accusantium incidunt, ex voluptas? Quos optio nihil obcaecati aliquid omnis vel fugiat quis enim. Suscipit vel tempora, facere eum dolore enim aut facilis corporis. Adipisci exercitationem minima accusamus veritatis.
                  </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-five-tab">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eaque, perspiciatis totam assumenda quia at eius, perferendis, voluptas consequuntur necessitatibus. Velit repudiandae architecto ex aperiam unde vero, blanditiis nihil temporibus quisquam ipsa et labore animi modi suscipit placeat ab, nostrum asperiores minima eos enim, doloremque voluptas. Voluptas, deleniti soluta illum natus molestias sint eius modi amet necessitatibus? Rem adipisci molestias fugiat tempora id maiores doloribus harum doloremque quisquam ducimus, consectetur accusantium incidunt, ex voluptas? Quos optio nihil obcaecati aliquid omnis vel fugiat quis enim. Suscipit vel tempora, facere eum dolore enim aut facilis corporis. Adipisci exercitationem minima accusamus veritatis.
                  </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-six-tab">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eaque, perspiciatis totam assumenda quia at eius, perferendis, voluptas consequuntur necessitatibus. Velit repudiandae architecto ex aperiam unde vero, blanditiis nihil temporibus quisquam ipsa et labore animi modi suscipit placeat ab, nostrum asperiores minima eos enim, doloremque voluptas. Voluptas, deleniti soluta illum natus molestias sint eius modi amet necessitatibus? Rem adipisci molestias fugiat tempora id maiores doloribus harum doloremque quisquam ducimus, consectetur accusantium incidunt, ex voluptas? Quos optio nihil obcaecati aliquid omnis vel fugiat quis enim. Suscipit vel tempora, facere eum dolore enim aut facilis corporis. Adipisci exercitationem minima accusamus veritatis.
                  </div>
                </div>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------- -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" style="padding: 10px;">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link active" id="v-pills-one-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">OverView</button>
                  <button class="nav-link" id="v-pills-two-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Get Start</button>
                  <button class="nav-link" id="v-pills-three-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                  <button class="nav-link" id="v-pills-four-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Programming Languages</button>
                  <button class="nav-link" id="v-pills-five-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">text Books</button>
                  <button class="nav-link" id="v-pills-six-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Youtubers</button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-one-tab">
                    <p>Data science means different things for different people, but at its gist, data science is using data to answer questions. This definition is a moderately broad definition, and that’s because one must say data science is a moderately broad field!</p>
                  </div>
                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-two-tab">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nemo laborum molestiae, quidem possimus perferendis. Exercitationem hic molestiae corporis, tempora vitae dicta aperiam, a quisquam eius incidunt illo necessitatibus iste?
                  </div>
                  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-three-tab">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eaque, perspiciatis totam assumenda quia at eius, perferendis, voluptas consequuntur necessitatibus. Velit repudiandae architecto ex aperiam unde vero, blanditiis nihil temporibus quisquam ipsa et labore animi modi suscipit placeat ab, nostrum asperiores minima eos enim, doloremque voluptas. Voluptas, deleniti soluta illum natus molestias sint eius modi amet necessitatibus? Rem adipisci molestias fugiat tempora id maiores doloribus harum doloremque quisquam ducimus, consectetur accusantium incidunt, ex voluptas? Quos optio nihil obcaecati aliquid omnis vel fugiat quis enim. Suscipit vel tempora, facere eum dolore enim aut facilis corporis. Adipisci exercitationem minima accusamus veritatis.
                  </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-four-tab">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eaque, perspiciatis totam assumenda quia at eius, perferendis, voluptas consequuntur necessitatibus. Velit repudiandae architecto ex aperiam unde vero, blanditiis nihil temporibus quisquam ipsa et labore animi modi suscipit placeat ab, nostrum asperiores minima eos enim, doloremque voluptas. Voluptas, deleniti soluta illum natus molestias sint eius modi amet necessitatibus? Rem adipisci molestias fugiat tempora id maiores doloribus harum doloremque quisquam ducimus, consectetur accusantium incidunt, ex voluptas? Quos optio nihil obcaecati aliquid omnis vel fugiat quis enim. Suscipit vel tempora, facere eum dolore enim aut facilis corporis. Adipisci exercitationem minima accusamus veritatis.
                  </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-five-tab">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eaque, perspiciatis totam assumenda quia at eius, perferendis, voluptas consequuntur necessitatibus. Velit repudiandae architecto ex aperiam unde vero, blanditiis nihil temporibus quisquam ipsa et labore animi modi suscipit placeat ab, nostrum asperiores minima eos enim, doloremque voluptas. Voluptas, deleniti soluta illum natus molestias sint eius modi amet necessitatibus? Rem adipisci molestias fugiat tempora id maiores doloribus harum doloremque quisquam ducimus, consectetur accusantium incidunt, ex voluptas? Quos optio nihil obcaecati aliquid omnis vel fugiat quis enim. Suscipit vel tempora, facere eum dolore enim aut facilis corporis. Adipisci exercitationem minima accusamus veritatis.
                  </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-six-tab">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eaque, perspiciatis totam assumenda quia at eius, perferendis, voluptas consequuntur necessitatibus. Velit repudiandae architecto ex aperiam unde vero, blanditiis nihil temporibus quisquam ipsa et labore animi modi suscipit placeat ab, nostrum asperiores minima eos enim, doloremque voluptas. Voluptas, deleniti soluta illum natus molestias sint eius modi amet necessitatibus? Rem adipisci molestias fugiat tempora id maiores doloribus harum doloremque quisquam ducimus, consectetur accusantium incidunt, ex voluptas? Quos optio nihil obcaecati aliquid omnis vel fugiat quis enim. Suscipit vel tempora, facere eum dolore enim aut facilis corporis. Adipisci exercitationem minima accusamus veritatis.
                  </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" style="padding: 10px;">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link active" id="v-pills-one-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">OverView</button>
                  <button class="nav-link" id="v-pills-two-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Get Start</button>
                  <button class="nav-link" id="v-pills-three-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                  <button class="nav-link" id="v-pills-four-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Programming Languages</button>
                  <button class="nav-link" id="v-pills-five-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">text Books</button>
                  <button class="nav-link" id="v-pills-six-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Youtubers</button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-one-tab">
                    <p>Data science means different things for different people, but at its gist, data science is using data to answer questions. This definition is a moderately broad definition, and that’s because one must say data science is a moderately broad field!</p>
                  </div>
                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-two-tab">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nemo laborum molestiae, quidem possimus perferendis. Exercitationem hic molestiae corporis, tempora vitae dicta aperiam, a quisquam eius incidunt illo necessitatibus iste?
                  </div>
                  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-three-tab">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eaque, perspiciatis totam assumenda quia at eius, perferendis, voluptas consequuntur necessitatibus. Velit repudiandae architecto ex aperiam unde vero, blanditiis nihil temporibus quisquam ipsa et labore animi modi suscipit placeat ab, nostrum asperiores minima eos enim, doloremque voluptas. Voluptas, deleniti soluta illum natus molestias sint eius modi amet necessitatibus? Rem adipisci molestias fugiat tempora id maiores doloribus harum doloremque quisquam ducimus, consectetur accusantium incidunt, ex voluptas? Quos optio nihil obcaecati aliquid omnis vel fugiat quis enim. Suscipit vel tempora, facere eum dolore enim aut facilis corporis. Adipisci exercitationem minima accusamus veritatis.
                  </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-four-tab">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eaque, perspiciatis totam assumenda quia at eius, perferendis, voluptas consequuntur necessitatibus. Velit repudiandae architecto ex aperiam unde vero, blanditiis nihil temporibus quisquam ipsa et labore animi modi suscipit placeat ab, nostrum asperiores minima eos enim, doloremque voluptas. Voluptas, deleniti soluta illum natus molestias sint eius modi amet necessitatibus? Rem adipisci molestias fugiat tempora id maiores doloribus harum doloremque quisquam ducimus, consectetur accusantium incidunt, ex voluptas? Quos optio nihil obcaecati aliquid omnis vel fugiat quis enim. Suscipit vel tempora, facere eum dolore enim aut facilis corporis. Adipisci exercitationem minima accusamus veritatis.
                  </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-five-tab">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eaque, perspiciatis totam assumenda quia at eius, perferendis, voluptas consequuntur necessitatibus. Velit repudiandae architecto ex aperiam unde vero, blanditiis nihil temporibus quisquam ipsa et labore animi modi suscipit placeat ab, nostrum asperiores minima eos enim, doloremque voluptas. Voluptas, deleniti soluta illum natus molestias sint eius modi amet necessitatibus? Rem adipisci molestias fugiat tempora id maiores doloribus harum doloremque quisquam ducimus, consectetur accusantium incidunt, ex voluptas? Quos optio nihil obcaecati aliquid omnis vel fugiat quis enim. Suscipit vel tempora, facere eum dolore enim aut facilis corporis. Adipisci exercitationem minima accusamus veritatis.
                  </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-six-tab">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eaque, perspiciatis totam assumenda quia at eius, perferendis, voluptas consequuntur necessitatibus. Velit repudiandae architecto ex aperiam unde vero, blanditiis nihil temporibus quisquam ipsa et labore animi modi suscipit placeat ab, nostrum asperiores minima eos enim, doloremque voluptas. Voluptas, deleniti soluta illum natus molestias sint eius modi amet necessitatibus? Rem adipisci molestias fugiat tempora id maiores doloribus harum doloremque quisquam ducimus, consectetur accusantium incidunt, ex voluptas? Quos optio nihil obcaecati aliquid omnis vel fugiat quis enim. Suscipit vel tempora, facere eum dolore enim aut facilis corporis. Adipisci exercitationem minima accusamus veritatis.
                  </div>
                </div>
            </div>
        </div>
      </div>
</div>
<%- include("partials/footer") %>