.cards {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.21);
}
.cards a:hover {
  transform: scale(1.1, 1.1);
}
.containeR {
  width: fit-content;
}
.posts {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0);
  margin-bottom: 30px;
  padding: 10px;
}
.latest-posts {
  font-family: "Satisfy", cursive;
  font-family: "Trirong", serif;
}
.post-container {
  margin-top: 2px;
  margin-bottom: 2px;
}
.post {
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.1);
}
.post-heading {
  padding-left: 5px;
  color: rgb(255, 196, 0);
  font-family: "Satisfy", cursive;
}
.post-body {
  font-family: "Baloo 2", cursive;
  padding-left: 10px;
}
